<div class="smt-pin-board" id="smt_pinBoard">
  <input
    type="hidden"
    value="5d56123d-da7b-4a8d-88ea-78852d090434"
    id="smt_hdnApplicationId"
  />
  <input type="hidden" value="OLW" id="smt_hdnStoreName" />
  <input type="hidden" value="1" id="smt_openEventPageType" />
  <input type="hidden" value="0" id="smt_isDisplayEventCategory" />
  <input type="hidden" value="" id="smt_selectedEventCategories" />
  <input type="hidden" value="Cal" id="smt_displayStyle" />
  <input type="hidden" value="" id="smt_selectedInternalCategories" />
</div>
