---
// ShowtimesCalendar component - displays the SimpleTix calendar for showtimes
---

<div class="smt-Calendar">
  <input
    type="hidden"
    value="5d56123d-da7b-4a8d-88ea-78852d090434"
    id="smt_hdnApplicationId"
  />
  <input type="hidden" value="OLW" id="smt_hdnStoreName" />
  <div id="smt_CalendarTable"></div>
  <input type="hidden" value="" id="smt_selectedInternalCategories" />
</div>
